<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "head.html" %}
    {% block head %} {% endblock head %}
  </head>
  <body>
    <div class="header-fill">
      <header>
        {% include "header.html" %}
        {% block header %} {% endblock header %}
      </header>
    </div>

    <section class="section">
      <div class="content">
        {% block content %} {% endblock content%}
      </div>
    </section>

    <footer class="footer">
      {% include "footer.html" %}
      {% block footer %} {% endblock footer %}
    </footer>
  </body>

</html>
