{% extends "base.html" %}

{% block content %}
<div class="page-meta">
  <h1 class="title post-title accent">
    {{ page.title }}
  </h1>
  <p class="post-date"><strong>{{ page.date }}</strong></p>
</div>
{{ page.content | safe }}
{% endblock content %}
