{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<h1 class="title accent">
  {{ section.title }}
</h1>

{% if section.content %}
<div class="post-content">
  {{ section.content | safe }}
</div>
{% endif %}

{% if paginator %}
{% set posts = paginator.pages %}
{% else %}
{% set posts = section.pages %}
{% endif %}

<ul>
  {% for post in posts %}

  <div class="post">
    <li>

      <span class="post-meta">

        <a {{ macros::link(post=post) }}>
          <span class="post-title">
            {{ post.title }}
          </span>

          {% if post.date %}
          <time class="post-date">
            :: {{ post.date | date(format="%m-%d-%Y") }}
          </time>
          {% endif %}
        </a>
      </span>

      {% if post.description %}
      <div class="post-description">
        {{ post.description }}
      </div>
      {% endif %}

    </li>
  </div>

  {% endfor %}

</ul>
{% endblock content %}
