{% block head %}

<meta charset="utf-8">
<meta name="robots" content="noindex">
<link rel="stylesheet" type="text/css" href="/styles.css">

{% if config.extra.favicon.favicon %}
<link href="{{ config.extra.favicon.favicon }}" rel="icon" type="image/ico" />
{% endif %}
{% if config.extra.favicon.manifest %}
<link href='{{ config.extra.favicon.manifest }}' rel="manifest" />
{% endif %}
{% if config.extra.favicon.favicon_16x16 %}
<link href='{{ config.extra.favicon.favicon_16x16 }}' rel="icon" sizes="16x16" type="image/png" />
{% endif %}
{% if config.extra.favicon.favicon_32x32 %}
<link href='{{ config.extra.favicon.favicon_32x32 }}' rel="icon" sizes="32x32" type="image/png" />
{% endif %}
{% if config.extra.favicon.apple_touch_icon %}
<link href='{{ config.extra.favicon.apple_touch_icon }}' rel="apple-touch-icon" sizes="180x180" />
{% endif %}

<title>
  dcascio.com
  {% set uri = current_path -%}
  {%- if uri != "/" -%}
  :: {{ uri | trim_start_matches(pat="/") | trim_end_matches(pat="/") }}
  {%- endif -%}
</title>

{% endblock head %}
