{% import "macros.html" as macros %}

{% block header %}

<div class="site-title">

  <a {{ macros::dev_check() }}>
    <div id="site-title">
      {{ config.title }}<span id="asterisk">*</span>
    </div>

    <div id="site-description">
      {{ config.description | markdown | safe }}
    </div>
  </a>

</div>

<nav class="menu">
  {% for menu in config.extra.menus %}
  <a href="{{ menu.url }}"
     class="menu-link"
     {%- if menu.url == current_path -%}
     id="active"
     {% endif -%}>
    {{ menu.name }}
  </a>
  {% endfor %}
</nav>

{% endblock header %}
