{% extends "base.html" %}

{% block content %}
<div class="page-meta">
  <h1 class="title accent">
    {{ page.title }}
  </h1>
  {% if page.description %}
  <p>
    {{ page.description }}
  </p>
  {% endif %}
</div>
{% if page.date %}
<p class="subtitle">
  <strong>{{ page.date }}</strong>
</p>
{% endif %}

{{ page.content | safe }}
{% endblock content %}
