{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<h1 class="title accent">
  {{ section.title }}
</h1>

{% if section.content %}
{{ section.content | safe }}
{% endif %}
<ul>

  {% for page in section.pages %}
  <li class="blog-post">
    <a {{ macros::link(post=page) }}>
      {{ page.title }}
    </a>
  </li>
  {% endfor %}

</ul>
{% endblock content %}
