$accent: #8fcfbb;
$fg-intense: #894f7a;

:root {
    --accent: #8fcfbb;
    --bg: #222524;
    --bg-alt: #3e4140;
    --bg-dim: #303332;
    --bg-active: #5e6160;
    --bg-inactive: #2b2e2d;
    --fg: #eaf2ef;
    --fg-alt: #8fcfbb;
    --fg-dim: #969faf;
    --fg-intense: #894f7a;

    color: var(--fg);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-position: inside;
}

* {
    margin: 0;
    padding: 0;
}

/* Format headers */

h1 {
    font-family: monospace;
    font-size: 1.5rem;
    margin-top: 1.65em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: monospace;
    font-size: 1.2rem;
    margin-top: 1.65em;
}

h1::before {
    color: var(--accent);
    content: "# ";
}

h2::before {
    color: var(--accent);
    content: "# ";
}

h3::before {
    color: var(--accent);
    content: "# ";
}

h4::before {
    color: var(--accent);
    content: "# ";
}

h5::before {
    color: var(--accent);
    content: "# ";
}

h6::before {
    color: var(--accent);
    content: "# ";
}

a, a:visited {
    text-decoration: none;
    color: var(--fg-dim);
}

a:hover {
    color: var(--accent);
}

html {
    background-color: var(--bg);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr min(65rem,80%) 1fr;
    margin-bottom: 2em;
}

.header-fill {
    background-color: var(--bg-alt);
    padding: 3em;
    min-height: 3.25em;
    min-width: 1vh;
    grid-column: 1 / 4;
    grid-row: 1;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3em;
    grid-column: 2;
    grid-row: 1;
}

header #site-title {
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    color: var(--accent);

    // background: linear-gradient($accent, $fg-intense);
    // background-clip: text;
    // color: transparent;
}

header span#asterisk {
    font-family: monospace;
    display: inline;
    position: absolute;
    padding: 0;
    margin: 0;
    color: var(--fg-intense);
    rotate: y -90deg;
    transition: rotate .2s ease;
}

header #site-description {
    color: var(--fg);
    margin: 0;
    font-size: .85rem;
    font-kerning: auto;
    transition: background-color .2s ease;
}

header > nav {
    font-size: 1.15rem;
    padding: .625rem;
    display: inline;
    flex-flow: wrap row;
    gap: .25rem;
    place-content: flex-center;

    #active {
        color: var(--accent);
    }

    .menu-link {
        margin-left: 0.7em;
    }

    :hover {
        border-bottom: solid var(--fg-intense);
    }
}

section {
    grid-row: 2;
    grid-column: 2;

    .content {
        flex-flow: wrap row;
        place-items: right;
    }

    .footnote-definition {
        grid-row: 3;
        grid-column: 2;
    }

    .footnote-definition-label {
        float: left;
        padding: 0 0 .4em;
        margin-right: .4em;
    }

    p {
        margin: 1em 0;
    }

    hr {
        margin: 10rem 0 .85em;
    }
}

.subtitle, .post-date {
    padding: .2em 0;
    color: var(--bg-dim);
}

.page-meta >  {
    padding: 2em;
}

.post {
    .post-title {
        font-size: 1.4em;
    }

    .post-date {
        font-size: .4em;
    }

    .post-meta .post-date:hover {
        color: var(--bg-active);
    }

    .post-description {
        margin-right: 1em;
    }
}

.watch-year {
    margin-bottom: 1.4em;
}

.movie {
    span.title {
        display: inline-flex;
        font-size: 1.2em;
    }

    span.year {
        display: inline-flex;
        font-size: .8em;
    }

    dt {
        line-height: 1.5;
    }

    dd {
        display: inline-flex;
    }

    .watch-date {
        font-size: .2em;
        display: inline;
        color: var(--fg-dim);
    }
}
