{% set data = load_data(path=path) -%}

<h2 class="watch-year accent">
  {{ year }}
</h2>

<dl class="movies">

  {% for movie in data.movies %}
  {% if not movie.private %}

  <dt class="movie">

    <span class="title">
      {{ movie.title }}
    </span>

    {% if movie.year %}
    <span class="year">
      ({{ movie.year }})
    </span>
    {% endif %}

  </dt>

  {% if movie.watch_date %}
  <dd class="watch-date">watched: {{ movie.watch_date }}</dd>
  {% endif %}

  {% endif %}
  {% endfor %}

</dl>
